canvas {
    margin: 0 auto; 
    background-image: url('https://i.imgur.com/LG8Ho7K.jpg');
    background-size: cover;
    box-shadow: 7px 7px 15px cornflowerblue;    
}

.photoBooth {
    margin: 0 auto;
}

.instructions {
    margin: 15px;
    padding: 15px;
}